# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular lanugaged that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Python
   1. Pandas
   2. NumPy
   3. Dask
2. R
   1. tidyr
   2. ggplot2
3. SQL
   1. SQLAlchemy
   2. dbplyr

In [3]:
import pandas as pd

# Define the data
data = {'Data Science Tools': ['Jupyter Notebooks', 'RStudio', 'Apache Spark', 'TensorFlow']}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the table
df

  Data Science Tools
0  Jupyter Notebooks
1            RStudio
2       Apache Spark
3         TensorFlow

Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Coding in Python
- Creating a data frame

## Author
Miguel Anselmo